.topBlock{
    /* width: 100%;
    position: absolute;
    top: 0px;
    background-color: #ffffff;
    border-color: gray;
    border-bottom-width: 2px;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    align-content: center;
    margin: auto; */
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    margin-right: -3000px;
    padding-right: 3000px;
    margin-left: -3000px;
    padding-left: 3000px;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
body{
    min-height: 400px;
    max-width: 960px;
    margin: auto;
    border-color: #dddddd;
    background-image: url("assets/images/oriental.png");
    overflow-x: hidden;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    clear: both;
}

.container{
    background-color: #ffffff;
    border-width: 2px;
    border-color: #dddddd;
    overflow: auto;
    padding: 18px;
    flex: 1 0 auto;
}

#namePlate{
    background-color: teal;
    padding: 30px;
    max-width:fit-content;
    color: white;
    align-content: center;
    line-height: 50px;
    font-size: 36px;
    display: inline-block;
}

a{
    text-decoration: none;
}

#navBar{
    float: right;
    line-height: 70px;
    display: inline-block;
    font-size: 18px;
    color: grey;
    word-spacing: 5px;
}
.container{
    max-width: 960px;
}

.blockTitles{
    max-width: 150px;
    max-height: 150px;
}
#sP, #fP, #eP, #gP{
    width: 150px;
    height: 150px;
}

#Education, #Sports, #Fitness, #Games{
    float: left;
}
#gamePlate, #educationPlate, #sportPlate,#fitnessPlate{
    background-color: teal;
    color: white;
}

footer{
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left:0;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: table;
    border-style: solid;
    border-top-width: 10px;
    border-top-color: teal;
    background-color: grey;
    border-bottom-width: 0px;
    margin-right: -3000px;
    padding-right: 3000px;
    margin-left: -3000px;
    padding-left: 3000px;
}